h3{
  margin-top:-10px;
}
body{
  font-size:25px;
  /* padding-left: 20px; */
  font-family: 'italic';
  font-weight: 00;
  margin-top:-40px;
}
div.middle{
  /* outline: 1px solid #9F9F9F; */
  /* margin-top: 10px; */
  width: 900px;
  height: 380px;
  position: relative;
}
div.middle-left{
  /* outline: 1px solid #9F9F9F; */
  position: absolute;
  top: 0px;
  left:0px;
  /* padding-left:20px; */
  width: 400px;
  height: 380px;
}
div.middle-right{
  /* outline: 1px solid #9F9F9F; */
  position: absolute;
  top: 0px;
  padding-left:30px;
  left:400px;
  width:400px;
  height: 380px;
}
div.bottom{
  /* outline: 1px solid #9F9F9F; */
  position: relative;
  width: 800px;
  height: 380px;
}
div.bottom-left{
  /* outline: 1px solid #9F9F9F; */
  position: absolute;
  left: 0px;
  width: 400px;
  height:380px;
}
div.bottom-overlap{
  position:absolute;
  left:0px;
  width:400px;
  height:380px;

}
div.bottom-right{
  /* outline: 1px solid #9F9F9F; */
  position: absolute;
  padding-left:30px;
  left:400px;
  width:400px;
  height: 380px;
}
.success{
  font-weight:bold;
  color:blue;
}
.blinking{
  -webkit-animation:blink 1.5s ease-in-out infinite alternate;
  -moz-animation:blink 1.5s ease-in-out infinite alternate;
  animation:blink 1.5s ease-in-out infinite alternate;
  font-weight: bold ;
  margin-top:-30px;
}
@-webkit-keyframes blink{
  0% {opacity:0; }

  /* 50%{	color: transparent;	} */

  100% {opacity:1; }
}
@-moz-keyframes blink{
  0% {opacity:0; }
  
  /* 50%{	color: transparent;	} */
 
  100% {opacity:1;}
}
@keyframes blink{
  0% {opacity:0; }
/*   
  50%{	color: transparent;	}
   */
  100% {opacity:1;}
}

